<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="entrada">
            <h2><span>Entrada</span> {{entrada.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Descripcion</span></dt>
                <dd>
                    <span>{{entrada.descripcion}}</span>
                </dd>
                <dt><span>Valor</span></dt>
                <dd>
                    <span>{{entrada.valor}}</span>
                </dd>
                <dt><span>Created</span></dt>
                <dd>
                    <span>{{entrada.created}}</span>
                </dd>
                <dt><span>Updated</span></dt>
                <dd>
                    <span>{{entrada.updated}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/entrada', entrada.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
